<h2>List Of Genres</h2>
<!-- 
<table class="table table-bordered table-striprd">
    <tr class="table-dark">
        <th>Id</th>
        <th>Name</th>
    </tr>
    <tr class="table-success" *ngFor = "let genre of genres">
        <td>{{genre.id}}</td>
        <td>{{genre.name}}</td>
    </tr>
</table> -->

<button mat-flat-button routerLink = "/genres/create">Create new</button>

<ng-container content>
    <table mat-table [dataSource]="genres" class="mat-elevation-z8 table-index">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
                <a routerLink = "/genres/edit/{{element.id}}" mat-flat-button color="primary">
                    Edit
                </a>
                <button mat-flat-button color="warn" 
                [swal]="{
                    title : 'Confirmation',
                    text : 'Do you really want to delete this record',
                    showCancelButton : 'true'
                }"
                (confirm)="delete(element.id)">
                    Delete
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
</ng-container>